.loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      opacity: 1;
    }
    100% {
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  &:after {
    animation-delay: -0.5s;
  }
}